@{
    ViewData["Title"] = "Characters";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
@Html.Raw(ViewContext.RouteData.Values["controller"].ToString())
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card character-index-card rounded">
                <div class="card-header">Emil Martin</div>
                <div class="card-body">
                    <img class="img-thumbnail" src="https://db4sgowjqfwig.cloudfront.net/images/5505506/dnd-profile-pic.jpg"/>
                    <ul>
                        <li>Marshal 4</li>
                        <li>Battlecaster 2</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card character-index-card rounded">
                <div class="card-header">Olenna Nyx</div>
                <div class="card-body">
                    <img class="img-thumbnail" src="https://db4sgowjqfwig.cloudfront.net/images/5668588/20200217_224019.jpg"/>
                    <ul>
                        <li>Marshal 4</li>
                        <li>Battlecaster 2</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card character-index-card rounded">
                <div class="card-header">Olenna Nyx</div>
                <div class="card-body">
                    <img class="img-thumbnail" src="https://db4sgowjqfwig.cloudfront.net/images/5668588/20200217_224019.jpg"/>
                    <ul>
                        <li>Marshal 4</li>
                        <li>Battlecaster 2</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card character-index-card rounded">
                <div class="card-header">Olenna Nyx</div>
                <div class="card-body">
                    <img class="img-thumbnail" src="https://db4sgowjqfwig.cloudfront.net/images/5668588/20200217_224019.jpg"/>
                    <ul>
                        <li>Marshal 4</li>
                        <li>Battlecaster 2</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card character-index-card rounded">
                <div class="card-header">Olenna Nyx</div>
                <div class="card-body">
                    <img class="img-thumbnail" src="https://db4sgowjqfwig.cloudfront.net/images/5668588/20200217_224019.jpg"/>
                    <ul>
                        <li>Marshal 4</li>
                        <li>Battlecaster 2</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>