@using skyforger.models.backpacks
@using skyforger.models.player
@model BackpackItem
@{
    var playerdata = (Player) ViewData["Player"];
    ViewData["Title"] = playerdata.CharacterName;
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
<script>
</script>
</body>
</html>