@using skyforger.models.backpacks
@using skyforger.models.player
@model BackpackItem
@{
    var playerdata = (Player) ViewData["Player"];
    ViewData["Title"] = playerdata.CharacterName;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modalInput">
        + Add New
    </button>

    <!-- Modal -->
    <div class="modal fade" id="modalInput" tabindex="-1" role="dialog" aria-labelledby="modalInputCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="background-color: #230415">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInputLongTitle">Add Items</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-single-tab" data-toggle="pill" href="#pills-single" role="tab"
                               aria-controls="pills-single" aria-selected="true">
                                Items
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-redcloth-tab" data-toggle="pill" href="#pills-redcloth" role="tab"
                               aria-controls="pills-redcloth" aria-selected="false">
                                Redcloth Import
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content pt-2 pl-1" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-single" role="tabpanel" aria-labelledby="pills-single-tab">
                            Test
                        </div>
                        <div class="tab-pane fade" id="pills-redcloth" role="tabpanel" aria-labelledby="pills-redcloth-tab">
                            Est
                            quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex.
                            Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim
                            exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit
                            aliquip nostrud. Amet ex cupidatat excepteur aute veniam incididunt mollit cupidatat esse irure officia
                            elit do ipsum ullamco Lorem. Ullamco ut ad minim do mollit labore ipsum laboris ipsum commodo sunt
                            tempor enim incididunt. Commodo quis sunt dolore aliquip aute tempor irure magna enim minim
                            reprehenderit. Ullamco consectetur culpa veniam sint cillum aliqua incididunt velit ullamco sunt
                            ullamco quis quis commodo voluptate. Mollit nulla nostrud adipisicing aliqua cupidatat aliqua pariatur
                            mollit voluptate voluptate consequat non.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</head>
<body>

</body>
</html>