@using skyforger.models.backpacks
@using skyforger.models.player
@{
    var playerdata = (Player)ViewData["Player"];
    ViewData["Title"] = playerdata.CharacterName;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>